/* .contact-info .col-2 {
  background: darkgray;
  display: flex;
  flex-direction: column;
  font-size: x-large;
  color: #ed1c24;
}

.contact-info p {
  font-size: medium;
  color: black;
} */

.contact-info .col-2 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #333333;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info p {
  font-size: 16px;
  color: #555555;
  margin-bottom: 8px;
}

@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes fade-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .NB {
  animation: nav-load 2000ms ease-out;
} */

/* .col-2 h1 {
  opacity: 0;
  animation: fade-load 1500ms 500ms forwards;
}

.col-2 ul {
  opacity: 0;
  animation: fade-load 2000ms 500ms forwards;
}

.col-2 p {
  opacity: 0;
  animation: fade-load 2500ms 500ms forwards;
}

.col-2 a {
  opacity: 0;
  animation: fade-load 3000ms 500ms forwards;
}

.categories-2 {
  opacity: 0;
  animation: fade-load 2000ms 1000ms forwards;
} */

.small-container-1 {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

#preloader {
  background: #ed1c24 url(images/loader.gif) no-repeat center center;
  /* background-size: 50%; */
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
