* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  position: relative;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  /* font-size: 14px;
    color: #000; */
  margin: 0;
  padding: 0;
}

.inner-heading {
  color: #ed1c24;
}

.NB nav ul .go-to {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #ed1c24;
  text-decoration: none;
}

#housekeeping {
  /* background-color: #c8c8c8; */
  /* background-color: #fca4b3; */
  /* background: radial-gradient(#c8c8c8, #646464); */
  background: linear-gradient(to right, #c8c8c8, #87ceeb);
}

#kitchen {
  background: linear-gradient(to right, #c8c8c8, #f9ffa5);
  /* background: linear-gradient(to right, #c8c8c8, #ffd1dc); */
}

#disinfection {
  /* background-color: #e8e8e8; */
  background: linear-gradient(to right, #c8c8c8, #98fb98);
  /* background: linear-gradient(to right, #fffaa5, #a5d8ff); */
}

#laundry {
  background: linear-gradient(to right, #c8c8c8, #ffa5fc);
  /* background: linear-gradient(to right, #d2c1ff, #ffe6d2); */
}

.swiper small {
  color: #333333;
}

.swiper-slide img {
  max-height: 500px;
  max-width: 500px;
}

/* .swiper-slide img:hover {
  max-height: 700px;
  max-width: 700px;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fffff0; */
  background: #c6d7c9;
  /* background: linear-gradient(to right, #c8c8c8, #ffa5fc); */
  /* background: linear-gradient(to right, #87ceeb, #c8c8c8); */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----navbar---- */

.NB {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  background-color: #fff;
  /* padding: 30px; */
  padding: 20px 40px 20px 40px;
  z-index: 999;
  align-items: center;
  justify-content: flex-end;
}

.NB {
  flex: 1;
  text-align: right;
}

.NB .logo-NB {
  margin-right: auto; /* Pushes the logo to the left */
}

.NB nav ul {
  list-style-type: none;
  /* margin: 0;
      padding: 0;
      overflow: hidden; */
  display: inline-block;
}

.NB nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.NB a {
  color: #555;
  text-decoration: none;
  /* font-size: 16px; */
}

.menu-icon-NB {
  display: none;
  width: 28px;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .NB nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #ed1c24;
    /* color: #fff; */
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .NB nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .NB nav ul a {
    color: #fff;
  }

  .NB .menu-icon-NB {
    display: block;
    cursor: pointer;
  }

  .swiper-slide img {
    max-height: 400px;
    max-width: 400px;
  }

  /* .swiper-slide img:hover {
    max-height: 600px;
    max-width: 600px;
  } */
}

/* .scroll-down-popup {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ddcccc;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 10px;
    z-index: 999;
  }
  
  @media only screen and (max-width: 800px) {
    .scroll-down-popup {
      display: block;
    }
  } */

.scroll-down-popup {
  display: block;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 10px;
  z-index: 999;
  animation: jumpUpDown 2s infinite;
}

@keyframes jumpUpDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-3px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.scroll-down-popup.hide {
  display: none;
}

@media only screen and (max-width: 800px) {
  .scroll-down-popup {
    display: block;
  }
}
