* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* .header { */
/* height: 100vh; */
/* background-image: url(/images/handsanitizing.png); */
/* background-size: contain; */
/* background-repeat: no-repeat; */
/* background-position: center; */
/* } */

/* .header::after {
  content: "";
  background: #ed1c24;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
} */

/* .header {
  height: 100vh;
} */

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  /* position: fixed; */
  /* position: sticky; */
  /* background: #ed1c24; */
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
  /* color: #ed1c24; */
}

p {
  color: #555;
  /* color: #ed1c24; */
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  /* margin-bottom: 100px; */
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ed1c24;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #6e1b12;
}

/* .header { */
/* background: linear-gradient(to bottom, #fff, #ed1c24); */
/* } */

.header .row {
  margin-top: 70px;
}

.categories-2 {
  margin: 70px 0;
}

/* .categories { */
/* height: 100vh; */
/* } */

.title-des {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.short-underline {
  border: none;
  height: 0.5px;
  background-color: #ed1c24;
  width: 50%;
  margin: 0 auto;
}

.card {
  position: relative;
}

.card img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.card:hover img {
  filter: none;
}

.col-3 {
  /* padding: 25px 25px; */
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.title {
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: "";
  background: #ed1c24;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  /* margin-bottom: 50px; */
  transition: transform 0.5s;
  /* perspective: 1000px; */
  margin-top: 75px;
}

.col-4 img {
  width: 100%;
}

h4 {
  color: #555;
  font-weight: normal;
  text-align: center;
}

.col-4:hover {
  /* transform: translateY(-3px); */
  /* transform: scaleX(1.2); */
  /* transform: translateY(-3px) rotate(5deg) scale(1.05); */
  /* transform: translateY(-3px) skewX(-10deg); */
  /* transform: translateY(-3px) rotate(3deg); */
  transform: translateY(-3px) scale(1.05);
  /* box-shadow: 0 0 20px rgba(237, 28, 36, 1); */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
  .card-text {
    color: #ed1c24;
  }
}

/* .card-text {
  color: #ed1c24;
} */

/* ----------------brand---------------- */

.brand {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
}

/* --------------------footer-------------------- */

.footer {
  background: #ed1c24;
  color: #ffffff;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #ffffff;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3 {
  text-align: center;
}

ul {
  list-style-type: none;
}
/* ----------- all products ---------- */

/* ----------------------responsive--------------------- */
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #ed1c24;
    /* color: #fff; */
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul a {
    color: #fff;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* media query for less than 600 screen size */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}

/* ------animations------- */

.wrapper {
  display: inline-flex;
}

.wrapper .dynamic-txts {
  overflow: hidden;
  line-height: 90px;
}

.dynamic-txts li {
  color: #ed1c24;
  list-style: none;
  /* position: relative; */
  /* top: 0; */
  /* animation: slide 6s steps(4) infinite; */
}

.dynamic-txts li h1 {
  position: relative;
  /* animation: typing 2.5s steps(20) infinite; */
}

.dynamic-txts li h1::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-left: 2px solid #ed1c24;
  left: 0;
  background: #fff;
  animation: typing 2.5s steps(20) infinite;
  /* animation: slide 6s steps(4) infinite; */
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/* ----------fixed nav bar ----------- */
.NB {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  background-color: #fff;
  /* padding: 30px; */
  padding: 20px 40px 20px 40px;
  z-index: 999;
  align-items: center;
}

/* .logo-NB img {
  vertical-align: middle;
} */

.NB {
  flex: 1;
  text-align: right;
}

.NB nav ul {
  list-style-type: none;
  /* margin: 0;
  padding: 0;
  overflow: hidden; */
  display: inline-block;
}

.NB nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.NB a {
  color: #555;
  text-decoration: none;
  /* font-size: 16px; */
}

.menu-icon-NB {
  display: none;
  width: 28px;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .NB nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #ed1c24;
    /* color: #fff; */
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .NB nav li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .NB nav ul a {
    color: #fff;
  }

  .NB .menu-icon-NB {
    display: block;
    cursor: pointer;
  }
}

/* -------- trying carousel ------- */
/* .carousel {
  overflow: hidden;
  position: relative;
}

.row-carousel {
  display: flex;
  transition: transform 0.5s;
}

.col-4-carousel {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-top: 75px;
}

.col-4-carousel:hover {
  transform: translateY(-3px) scale(1.05);
  cursor: pointer;
} */
