.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ed1c24;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 70%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  color: #000;
}

.swiper-button-prev {
  color: #000;
}

.contact-info {
  padding: 20px;
  box-shadow: 0 0 5px rgba(105, 32, 32, 0.3);
}

.contact-info .col-2 {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  font-size: x-large;
}

.contact-info p {
  color: black;
  font-size: x-large;
}

.swiper-slide span {
  font-size: smaller;
  display: inline-block;
  padding: 5px 10px;
  background-color: #ed1c24;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  text-align: justify;
}

.mySwiper .hk-button {
  background-color: #fff;
  color: rgba(45, 106, 129, 1);
  border: 1px solid rgba(45, 106, 129, 1);
}
.mySwiper .d-button {
  background-color: #fff;
  color: rgba(77, 154, 77, 1);
  border: 1px solid rgba(77, 154, 77, 1);
}
.mySwiper .k-button {
  background-color: #fff;
  color: rgba(156, 162, 104, 1);
  border: 1px solid rgba(156, 162, 104, 1);
}
.mySwiper .l-button {
  background-color: #fff;
  color: rgba(177, 92, 161, 1);
  border: 1px solid rgba(177, 92, 161, 1);
}

.view-all {
  margin: 70px 0;
}

.swiper {
  margin: 0;
}

.products-by-section {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  color: darkgray;
}

.swiper-row {
  background: #ed1c24;
}

.captions {
  margin: 50px;
}

.heading {
  color: #000;
}
.sub-heading {
  color: #000;
  font-weight: lighter;
}

.sub-heading-1 {
  color: #ed1c24;
}

.heading-1 {
  color: #000;
  font-weight: lighter;
}
